<%- include('../partials/header.ejs') %> 

<h1>My Favorite Sharecipes</h1><br>
    
<% recipes.forEach(function(recipe) { %>
     <div class= "recipe">
        <h2><%= recipe.title %></h2>
        <img src="<%= recipe.imgUrl %>" alt="<%= recipe.title %>"><br>
        <a href="/recipes/<%= recipe._id %>"><button>View Recipe</button></a>
    </div><br><br>

<% }) %>

 <%- include('../partials/footer.ejs') %> 