<%- include('../partials/header.ejs') %> 
<h2>Add a recipe</h2>


<form action="/recipes" method="POST">
    <label>Title: <input type="text" name="title" value="<%= ingredient ? ingredient.title : "" %>"><br></label>
    <label>Ingredients: <input id="ingredient-name" type="text" name="name" >
        <button id="add-ingredient"type="submit" formaction="/ingredients" method="POST">Add</button><br>
        
    </label>
     <% if(ingredients.length) { %>
            <% ingredients.forEach(function(ingredient) { %>
            <button type="submit" formaction="/ingredients/<%= ingredient._id %>?_method=DELETE" method="POST">x <%= ingredient.name %></button>
            <input type="hidden" value="<%= ingredient.name %>" name ="ingredients">
           <% }); %>
      <% } %>
      
      <br><label>Instructions: <br>
        <textarea name="instructions" ><%= ingredient ? ingredient.instructions: "" %></textarea><br></label>
    <label>Image URL: <input type="text" name="imgUrl" value="<%= ingredient ? ingredient.imgUrl: "" %>"><br></label>
    <input type="checkbox" name="share" <%=ingredient ? (ingredient.share ? 'checked' : '') : "" %>> Share with everyone <br>
    <input type="submit" value="Add Recipe">
    
</form> 

<%- include('../partials/footer.ejs') %> 