<%- include('../partials/header.ejs') %> 

<table>
    <tr>
        <td>Title</td>
        <td>Actions</td>
    </tr>
    <% recipes.forEach(function(recipe) { %>
        <div>
            <p><strong><%= recipe.title %></strong></p>
            <p><strong><%= recipe.ingredients %></strong></p>
            <p><strong><%= recipe.instructions %></strong></p>

            <img src="<%= recipe.imgUrl %>" alt="">
        </div>
    <% }) %>
    
    <a href="/recipes/<%= recipe._id %>/edit">Edit Recipe</a>
</table>