<%- include('../partials/header.ejs') %> 

<h1><%= recipe.title %></h1><br>
     <div class= "recipe-detail">
        <h2><%= recipe.title %></h2>
        <img src="<%= recipe.imgUrl %>" alt="<%= recipe.title %>">
        <p><strong>Ingredients: <%= recipe.ingredients %></strong></p>
        <p ><strong>Instructions: </strong></p>
        <p id="instructions"><%= recipe.instructions %></p>

    </div>

 <%- include('../partials/footer.ejs') %> 