<%- include('../partials/header.ejs') %> 

<h1><%= recipe.title %></h1><br>
   <div class= "recipe-detail">
      <h2><%= recipe.title %> Recipe</h2>
      <img src="<%= recipe.imgUrl %>" alt="<%= recipe.title %>">
      <p><strong>Ingredients: </strong></p>
         <ul>
         <% recipe.ingredients.forEach(function(ingredient) { %>
            <li> <%= ingredient %> </li>
         <% }) %>
         </ul>
      <p ><strong>Instructions: </strong></p>
      <p id="instructions"><%= recipe.instructions %></p>
      <p>Reference link: <a href="<%= recipe.refLink %>">Original Content</a></p>
      <p>Shared by: <%= recipe.user.name %></p>
      <section id="comment-box">
         <% if(user) { %>
            <form id="add-comment-form" method="POST" action="/recipes/<%= recipe._id %>/comments">
               <p><img class="profile-pic" src="<%= user.avatar %>"><small> <%= user.name %> </small></p>
               <textarea id="comments-text" name="content" placeholder="Leave A Comment.."></textarea>
               <input type="submit" value="Add Comment">
            </form>
         <% } %>
         <% if(comments.length){ %>
            <% comments.forEach(function(comment) { %>
               <br>
               <div id="comment">
                  <div><small><img class="profile-pic" src="<%= comment.user.avatar %>"> <%= comment.user.name %> Posted on <%= comment.createdAt.toLocaleDateString() %></small> </div>
                  <div id="comment-content"><%= comment.content %></div>
               </div>
            <% }) %>
         <% } else { %>
         <h5>Be the first to comment!</h5>
         <% } %>
   </section>
</div>

 <%- include('../partials/footer.ejs') %> 