<%- include('../partials/header.ejs') %> 

<p class="heading"><%= recipe.title %></p><br>
   <div class= "recipe-detail">
      <%if(user) { %>
         <form action="/users/<%= recipe._id %>?_method=PUT" method="POST">
            <input type="hidden" value="<%= recipe._id %>">
            <button id="favorite-btn" style=<%= user.favorites.includes(recipe._id)? 'background-color:yellow' : '' %>
            type="submit"><%= user.favorites.includes(recipe._id)? 'Remove From Favorites' : 'Add To Favorites' %> </button>
         </form>
      <% } %>

      <img class="image" src="<%= recipe.imgUrl %>" alt="<%= recipe.title %>">
      <section class="full-instructions">
         <p><strong>Ingredients: </strong></p>
            <ul>
            <% recipe.ingredients.forEach(function(ingredient) { %>
               <li> <%= ingredient %> </li>
            <% }) %>
            </ul>
         <p ><strong>Instructions: </strong></p>
         <p id="instructions"><%= recipe.instructions %></p>
         <p>Reference link: <a class="oc-link" href="<%= recipe.refLink %>">Original Content</a></p>
         <p>Shared by: <%= recipe.user.username %></p>
      </section>
      <section id="comment-box">
         <% if(user) { %>
            <form id="add-comment-form" method="POST" action="/recipes/<%= recipe._id %>/comments">
               <p class="comment-header"><img class="profile-pic" src="<%= user.avatar %>"><small id="username-comment"> <%= user.username %> </small></p>
               <div id="add-comment-input">
                  <textarea id="comments-text" name="content" placeholder="Leave A Comment.." rows="1" cols="50"></textarea>
                  <button id="add-comment-btn" type="submit" >Add Comment</button>
               </div>
            </form>
         <% } %>
         <% if(comments.length){ %>
            <% comments.sort((a, b) => b.createdAt - a.createdAt); %>
            <% comments.forEach(function(comment) { %>
               <br>
               <div id="comment">
                  <p class="comment-header"><img class="profile-pic" src="<%= comment.user.avatar %>"><small><%= comment.user.username %>&nbsp;&nbsp;<em>posted on <%= comment.createdAt.toLocaleDateString() %></em></small> </p>
                  <div class="comment-content"><%= comment.content %></div>
               </div>
            <% }) %>
         <% } else { %>
         <h5>Be the first to comment!</h5>
         <% } %>
      </section>
   </div>

 <%- include('../partials/footer.ejs') %> 