<%- include('../partials/header.ejs') %> 

<p class="heading"> My SHARECIPES</p>

<div id="myaccount-btns">
    <a href="myaccount/new"><button id="add-recipe-btn">Add a Recipe</button></a>
    <a href="myaccount/myfavorites"><button id="add-recipe-btn">My Favorites</button></a><br><br>
</div>
<section class="list-recipes">
    <% if(recipes.length) { %>
        <% recipes.forEach(function(recipe) { %>
            <div class= "recipe">
                <p class="recipe-header"><strong><%= recipe.title %></strong></p>
                <div id="imgage-container"><img class="image" src="<%= recipe.imgUrl %>" alt="<%= recipe.title %>"><br></div>
                <div class="view-recipe-btn-div"><a href="/myaccount/<%= recipe._id %>"><button class="view-recipe-btn">View Recipe</button></a></div>
            </div><br><br>      
        <% }) %>
    <% } else { %>
        <h3>Add a Sharecipe..</h3>
    <% } %>
    </section>

    <%- include('../partials/footer.ejs') %> 