<%- include('../partials/header.ejs') %> 

<p class="heading"> My Favorite SHARECIPES</p>
<div id="myaccount-btns">
    <a href="myaccount/new"><button id="add-recipe-btn">Add a New Recipe</button></a>
    <a href="/myaccount"><button id="add-recipe-btn">My SHARECIPES</button></a><br><br>
</div>
<section class="list-recipes">
    <% if(user.favorites.length) { %>
        <% user.favorites.forEach(function(recipe) { %>
            <div class= "recipe">
                <p class="recipe-header"><strong><%= recipe.title %></strong></p>
                <img class="image" src="<%= recipe.imgUrl %>" alt="<%= recipe.title %>"><br>
                <div class="view-recipe-btn-div"><a href="/recipes/<%= recipe._id %>"><button class="view-recipe-btn">View Recipe</button></a></div>
            </div><br><br>
        
        <% }) %>
    <% } else { %>
        <h3>Add a favorite SHARECIPE..</h3>
    <% } %>
    </section>

<%- include('../partials/footer.ejs') %> 