<%- include('../partials/header.ejs') %> 
<p class="heading"><%= title %></p>

<section class="recipe-form">
  <form action="/myaccount" method="POST">
    <label>Title: <input class="recipe-input" type="text" name="title" value="<%= ingredient ? ingredient.title : "" %>" maxlength="54" autocomplete="off"><br></label>
    <br><br><label>Ingredient(<small>Please Enter Qty/Unit of Measurement ie.</small>): <br>
        <input id="ingredient-input" class="recipe-input" type="text" name="name" placeholder="ie. steak - 8oz" autocomplete="off">
        <button id="add-ingredient"type="submit" formaction="/ingredients" method="POST">Add</button><br>  
    </label>
    <% if(ingredients.length) { %>
        <% ingredients.forEach(function(ingredient) { %>
                <button class="pill" type="submit" formaction="/ingredients/<%= ingredient._id %>" method="POST">x <%= ingredient.name %></button>
                <input type="hidden" value="<%= ingredient.name %>" name ="ingredients">
        <% }); %>
    <% } %>
        
    <br><br><label>Instructions: <br>
    <textarea id="instructions-text" name="instructions" placeholder="ie. 
      Serving Size: 4
      Preparation time: 45 minutes
      Step 1: Wash your chicken"><%= ingredient ? ingredient.instructions: "" %></textarea><br></label>
    <br><br><label>Image URL: <input class="recipe-input" type="text" name="imgUrl" value="<%= ingredient ? ingredient.imgUrl: "" %>" autocomplete="off"></label>
    <br><br><label>Reference Link: <input class="recipe-input" type="text" name="refLink" value="<%= ingredient ? ingredient.refLink: "" %>" autocomplete="off"> </label>
    <input id="checkbox" type="checkbox" name="share" <%=ingredient ? (ingredient.share ? 'checked' : '') : "" %>> Share with everyone <br>
    <input id="add-recipe-btn" type="submit" value="Add Recipe">  
  </form> 
</section>

<%- include('../partials/footer.ejs') %> 